---
---

@import "{{ site.theme }}";

body {
  background-color: #F0EAE2;
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt;
  color: #000000;
}

header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

.ascii-divider {
  font-family: Consolas, monospace;
  text-align: center;
  margin: 20px 0;
  color: #555555;
}

.ascii-box {
  font-family: Consolas, monospace;
  border: 1px solid #CCCCCC;
  padding: 10px;
  white-space: pre-wrap;
  margin: 10px 0;
}

a {
  color: #0000FF;
  text-decoration: none;
  border-bottom: 1px dotted #0000FF;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid #0000FF;
}

section {
  width: 500px;
  float: right;
  padding-bottom: 50px;
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul, header p.view {
    position: static;
  }

  pre, code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  .downloads {
    width: 99%;
  }

  .downloads li, .downloads li + li + li {
    width: 33%;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
